<br/>
<br/>

<div class="p-5 mt-5 bg-light rounded-3 text-center">
    <div class="container">
    <h1 class="display-5 fw-bold">Welcome</h1>
    <p class=" fs-4">
        <b>The easiest way to share Sharing recipes</b> <br/>
        The cuisine blog features submit cuisine recipes, view categories, a Search engine, 
        and a detailed view of each individual food cuisine. Additionally, it enables you to 
        run queries like "find Random" and "show latest recipes."
    </p>
    </div>
</div> 
<br/>
<br/>
<br/>
<br/>
<br/>

